.cardContainer {
    background-color:purple;
    display:flex;
    margin: 0 auto;
    width:100%;
    height:100%;
    justify-content:center;
    align-items:center;
    align-content:center;
}

.header {
    /* background-color:blue; */
    text-align:center;
    display:flex;
    padding:50px;
    width:50vw;
    font-size:600%;
    display:flex;
    margin: 0 auto;
    

}